{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{/* Dynamic view adjusts to content type. */}}
{{ $icon_pack := "far" }}
{{ $icon := "fa-file-alt" }}
{{ $show_authors := false }}
{{ $show_buttons := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
  {{ $icon = "fa-newspaper" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $icon = "fa-comment" }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_authors = true }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "project" }}
  {{ $icon_pack = "fas" }}
  {{ $icon = "fa-project-diagram" }}
  {{ $show_authors = true }}
  {{ $show_buttons = true }}
{{ end }}

<div class="view-list-item" itemscope itemtype="http://schema.org/{{$microdata_type}}">
  <i class="{{$icon_pack}} {{$icon}} pub-icon" aria-hidden="true"></i>
  <a href="{{$link}}" itemprop="url"><span itemprop="name">{{ if $item.Params.shorttitle }}{{ $item.Params.shorttitle }}{{ else }}{{ $item.Title }}{{ end }}</span>
    <span>{{ if .Params.publication_status }} - {{ .Params.publication_status }}{{ end }}</span></a>

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">
    <span itemprop="startDate">
      {{ $date := $item.Date }}
      {{ (time $date).Format site.Params.date_format }}
      {{ if not $item.Params.all_day }}
        {{ (time $date).Format (site.Params.time_format | default "3:04 PM") }}
        {{ with $item.Params.date_end }}
        &mdash; {{ (time .).Format (site.Params.time_format | default "3:04 PM") }}
        {{ end }}
      {{ end }}
    </span>
    {{ if $item.Params.event }}
    <span class="middot-divider"></span>
    {{ with $item.Params.event_url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
    <span itemprop="description">{{ $item.Params.event }}</span>
    {{ if $item.Params.event_url }}</a>{{ end }}
    {{ end }}
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="address">{{ . }}</span></span>
    {{ end }}
  </div>
  {{ end }}

  {{ if and $show_authors $item.Params.authors }}
  <div class="article-metadata" itemprop="author">
    {{ partial "page_metadata_authors" $item }}
  </div>
  {{ end }}

  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
